{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@typescript-eslint/recommended-requiring-type-checking"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json" // <-- Point to your project's tsconfig.json or create new one
      },
    "plugins": ["@typescript-eslint", "deprecation"],
    "rules": {
      "deprecation/deprecation": "error"
    }
  }